/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #76c7c0; /* Medium Aquamarine */
  color: #fff; /* White */
}

.logo {
  height: 50px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* White */
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}
